.acf-focal_point-canvas {
	width: 100%;
	cursor: crosshair;
}

.acf-focal_point-image {
	display: inline-block;
}
.acf-focal_point .has-image {
	display: inline-block;
	position: relative;
	cursor: crosshair;
}
.acf-focal_point .acf-button-delete {
	position: absolute;
	top: -11px;
	right: -11px;
	z-index: 1;
	cursor: pointer;
}
.acf-focal_point .acf-icon {
	opacity: 0;
	transition: .25s ease-in-out;
}
.acf-focal_point .acf-icon:hover {
	color: #D54E21;
}
.acf-focal_point .has-image:hover .acf-icon {
	opacity: 1;
}
.acf-focal_point.active .no-image {
	display: none;
}

.acf-focal_point-icon {
	display: none; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	height: 30px;
	opacity: .8;
	will-change: transform;
	width: 30px;
	z-index: 10000;
}

.acf-focal_point-icon .components-focal-point-picker__icon-fill { fill: #0085ba; }
.acf-focal_point-icon .components-focal-point-picker__icon-outline { fill: #ffffff; }
